.footer-section {
  background: var(--color-primary-dark);
  color: var(--color-white);
  padding: 4rem 0 3rem;
  width: 100%;
}

.footer-top {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-logo {
  width: 180px;
}

.footer-nav {
  display: flex;
  gap: 2.4rem;
}

.footer-nav a {
  color: var(--color-white);
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
}

.footer-socials {
  display: flex;
  gap: 1.5rem;
}

.footer-socials img {
  width: 22px;
  height: 22px;
}

.footer-divider {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 2rem 0;
}

.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;               
  gap: 20px;                   
  justify-content: center;    
  align-items: center;         
  flex-wrap: wrap;          
}

.footer-bottom p,
.footer-bottom a {
  white-space: nowrap;        
  color: var(--color-white);
  font-size: 0.9rem;
}


.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-links a {
  color: var(--color-white);
  opacity: 0.8;
  text-decoration: underline;
  font-size: 0.95rem;
}

/* MOBILE */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-socials {
    justify-content: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 0.6rem;
  }
 
}
